  .bestseller-card {
    width: 100%;
    max-width: 100%;
    /* height: 100%; */
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    background-color: white;
    border: 1px solid #faf9f9;
    padding: 20px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  
  .bestseller-card:hover {
    background-color: #e2e2e2;
    border: 0.5px solid #f1f1f1;
  }
  
  .image-container {
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  
  .bestseller-img {
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
    height: 80%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
  }
  
  .add-to-cart-btn {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    width: 90%;
    background-color: #3f2305;
    /* background: rgba(255, 255, 255, 0.7); */
    text-align: center;
    padding: 5px 0;
    font-size: 0.86rem;
    text-transform: uppercase;
    opacity: 0;
    color: white;
    border: 1px solid #3f2305;
    transition: opacity 0.3s ease-in-out;
    font-weight: 500;
  }
  
  .bestseller-card:hover .add-to-cart-btn {
    opacity: 1;
    cursor: pointer;
  }
  
  .bestseller-info {
    font-size: 0.9rem;
    font-weight: 600;
    color: #3f2305;
    margin-bottom: 0;
    text-transform: capitalize;
    text-align: center;
    padding-bottom: 5%;
  }

.card-normal-price {
  color: #3F2305;
  font-weight: 500;
}

.card-original-price {
  text-decoration: line-through;
  color: #9e9e9e; /* greyish */
  font-size: 0.9rem;
  margin-right: 6px;
}

.card-discounted-price {
  color: green; /* green */
  font-weight: 600;
  font-size: 1rem;
  margin-right: 6px;
}

.card-discount-percent {
  color: #d32f2f; /* red */
  font-size: 0.85rem;
  font-weight: 600;
}

.card-normal-price {
  color: #3F2305;
  font-weight: 500;
}
